.editorconfig
.DS_STORE

# npm yarn
node_modules
package.lock
yarn-error.log

# gatsby files
.env
.cache
public

# cypress
cypress/videos
cypress/screenshots

# lerna
lerna-debug.log

# algolia data
packages/gatsby-theme-aio/algolia-config.json
