.editorconfig
.idea
.DS_Store

# npm yarn
node_modules
package.lock
yarn-error.log
.pnp.*
.yarn/*

# keep in repo
!.gitignore
!.yarn.lock
!.yarnrc.yml

# gatsby files
.env
.cache
public

# cypress
cypress/videos
cypress/screenshots

# lerna
lerna-debug.log
