{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "printWidth": 100,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5"
}
