em {
  background: cyan;
  font-style: normal;
}

.header-title {
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  vertical-align: middle;
}

.header-subtitle {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  align-items: center;
}

.container {
  display: flex;
  max-width: 1200px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.search-container {
  display: flex;
}

.search-panel__results {
  width: 100%;
}

.filter-panel__filters {
  min-width: 260px;
}
.ais-SearchBox {
  margin: 1em 0;
  width: 100%;
}
.ais-SearchBox-input {
  appearance: none;
  padding: 0.6rem 2.7rem;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}
.ais-HitsPerPage-select {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;
  margin-left: 1rem;
  font-family: 'Adobe Clean';
}

.pagination {
  display: flex;
  margin: 2rem auto;
  align-items: baseline;
}
.vl {
  border-left: 1px solid #cccaca;
  height: 100vh;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
body {
  font-family: 'Adobe Clean';
  font-size: 1.2rem;
  padding: 1em;
}
#root .ais-ClearRefinements-button {
  cursor: pointer;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  color: #333;
  background-color: #fff;
  border-radius: 3px;
  transition: background-color 0.2s ease-out;
  border: 1px solid #999;
  opacity: 1;
}
.ais-ClearRefinements-button--disabled {
  opacity: 0.6;
}
.ais-Pagination {
  margin-top: 1em;
}
.hit-title {
  margin-bottom: 1rem;
}
.hit-description {
  color: #888;
  font-size: 14px;
  margin-bottom: 0;
}
[class^='ais-'] {
  box-sizing: border-box;
}
.search-entry-container {
  display: flex;
  align-items: baseline;
}
.ais-Stats {
  padding-bottom: 15px;
  padding-left: 5px;
}
.ais-Stats-text {
  font-size: 1rem;
}
.ais-RefinementList-list {
  line-height: 2.3rem;
}
.ais-RefinementList-searchBox {
  margin-right: 2rem;
}
.filter-heading {
  display: flex;
  align-items: baseline;
}
.ais-ClearRefinements {
  margin-left: 1rem;
}
.ais-HitsPerPage-select {
  font-size: 1rem;
}
.ais-Hits-item,
.ais-InfiniteHits-item,
.ais-InfiniteResults-item,
.ais-Results-item {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 1rem;
  padding-bottom: 0;
  width: 100%;
  border: 0px solid #c4c8d8;
  box-shadow: none;
}
.ais-Hits-list {
  line-height: 1.4;
}
.ais-Hits {
  margin-left: 5px;
}
/*
body { font-family: sans-serif; padding: 1em; }
.ais-SearchBox { margin: 1em 0; }
.ais-Pagination { margin-top: 1em }
.left-panel { float: left; width: 250px; }
.right-panel { margin-left: 260px; }
.ais-InstantSearch { max-width: 960px; overflow: hidden; margin: 0 auto }
.ais-Hits-item { margin-bottom: 1em; width: calc(50% - 1rem) }
.ais-Hits-item img { margin-right: 1em }
.hit-name { margin-bottom: .5em }
.hit-description { color: #888; font-size: 14px; margin-bottom: .5em } */

body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}
