/*TODO: Remove this stylesheet after applying Spectrum styles*/

* {
  box-sizing: border-box;
}

em,
mark {
  background: rgba(226, 164, 0, 0.4);
}

.horizontal-line {
  border-top: 1px solid #ccc;
}
.vertical-line {
  border-left: 1px solid #ddd;
  height: 100vh;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

/* SearchPage Header */
.search-header {
  display: block;
  padding: 20px 0;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  width: 100%;
}

.search-header-inner {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  justify-content: space-around;
}

.search-header-inner > div:first-child {
  width: 80%;
}

.ais-SearchBox {
  display: flex;
  width: 100%;
  height: 50px;
  width: 400px;
}

.ais-HitsPerPage {
  display: flex;
  margin-left: 24px;
  width: 20%;
}

.ais-SearchBox-input {
  appearance: none;
  background-color: #fff;
  border: 1px solid #d6d6e7;
  border-radius: 3px;
  box-shadow: rgba(119, 122, 175, 0.3) 0 1px 4px 0 inset;
  caret-color: #666;
  color: #333;
  font: inherit;
  padding-left: 2.5rem;
}

/* SearchPage Main Indexes */
.search-main-indexes {
  margin: 0 -0.5rem;
  padding-top: 0.7rem;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  width: 100%;
}

.search-results-main {
  max-width: 960px;
  margin: 0 auto;
}

.search-results {
  width: 100%;
  display: flex;
}

.search-stats {
  display: flex;
  justify-content: space-between;
}

.ais-Stats {
  padding-left: 5px;
  padding: 0.7rem 0;
}
.ais-Stats-text {
  font-size: 1rem;
}

/* Panel */

.container-body .ais-Panel {
  border-top: 1px solid #ebecf3;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/**
 * Hits
 */

.hit-title {
  margin-bottom: 0;
}

.hit-title  > h3 {
  color: rgb(20, 115, 230);
  margin-bottom: 0;
}

.hit-full-path {
  margin-top: 0;
  margin-bottom: 3px;
}

.ht-title > p {
  color: rgb(80, 80, 80)
}

.hit-description {
  color: #333;
  font-size: 1rem;
  margin-top: 0;
}

.ais-Hits-item,
.ais-InfiniteHits-item {
  align-items: center;
  background: #fff;
  box-shadow: none;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.ais-Hits-item:first-of-type,
.ais-InfiniteHits-item:first-of-type {
  border-radius: 3px 3px 0 0;
}

.ais-Hits-item:last-of-type,
.ais-InfiniteHits-item:last-of-type {
  border-radius: 0 0 3px 3px;
}

.ais-Hits-item:only-of-type,
.ais-InfiniteHits-item:only-of-type {
  border-radius: 3px;
}

.ais-InfiniteHits-loadMore,
.ais-InfiniteHits-loadPrevious {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
}

/* ToggleRefinement */

.ais-ToggleRefinement-label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.ais-ToggleRefinement-checkbox {
  font: inherit;
  margin-left: 1rem;
  margin-right: 0;
  position: relative;
}

.ais-ToggleRefinement-checkbox:checked::before {
  color: #e2a400;
}

.ais-ToggleRefinement-checkbox::before {
  align-items: center;
  color: rgba(33, 36, 61, 0.32);
  content: 'No';
  display: flex;
  font-size: 0.8rem;
  height: 16px;
  position: absolute;
  right: 38px;
}

.ais-ToggleRefinement-checkbox:checked::before {
  content: 'Yes';
}

.ais-ToggleRefinement-count {
  display: none;
}

/* Hide all mobile-specific design on desktop */

@media (min-width: 900px) {
  [data-layout='mobile'] {
    display: none;
  }
}

.search-main {
  display: flex;
  justify-content: space-between;
}

.ais-Highlight-highlighted {
  background: rgba(247, 231, 17, 0.5);
  color: #333;
}

a {
  text-decoration: none;
}
