.conatiner {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.header {
  color: var(--spectrum-global-color-gray-900);
}

.documentation {
  color: rgb(2, 101, 220);
}

.documentation:hover {
  color:	rgb(0, 84, 182);
}