name: E2E tests
on:
  push:
    branches:
      - main
    paths:
      - "example/**"
      - "packages/**"
      - ".github/**"
      - "cypress/**"
  pull_request:
    branches:
      - main
    paths:
      - "example/**"
      - "packages/**"
      - ".github/**"
      - "cypress/**"
jobs:
  smoke_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Tests
        uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: yarn serve
          config-file: cypress/cypress-github-actions.json
          spec: cypress/e2e/smoke.test.js
